body {
    background-image: url("https://image.freepik.com/free-vector/decorative-geometric-colorful-abstract-background-vector-set_293-914.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    color: whitesmoke;
    border: 0px solid white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Helvetica';
    max-height: 100%;
    background-attachment: fixed;
     }
.border-text {
        -webkit-text-stroke: 3px white;
        color: transparent;
        text-align: center;
        font-size: 5rem;
}

.button1 {
    background-color: rgba(130, 148, 172, 0.8);
    font-family: "Helvetica";
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    border: 3px;
    border-radius: 8px;
    padding: .5rem;
    display: inline-table;
  }

 .messageBox {
    padding: 3vw; 
    box-shadow: 1px 5px 15px 2px rgb(119, 113, 113);
    text-align: left; 
    margin: auto; 
    display: block;
    font-family: "Helvetica";
    font-size: .8rem;
    height: 15px;
    width: 60%;
    top: 100px;      
    left: 100px;        
 }

 .resultBox {
    padding: 3vw; 
    box-shadow: 1px 5px 15px 2px rgb(119, 113, 113);
    text-align: left; 
    margin:auto; 
    margin-left:   0;
    margin-right:  0;
    display: block;
    font-family: "Helvetica";
    font-size: .8rem;
    height: 15px;
    width: 60%;
    top: 100px;      
    left: 100px;     

 }

.button2 {
        background-color: rgba(94, 107, 116, 0.8);
        font-family: "helvetica";
        font-size: 1.3rem;
        color: white;
        border: 0px solid white;
        border-radius: 8px;
        padding-top: 7px;
        padding-right: 20px;
        padding-bottom: 7px;
        padding-left: 20px;
        display: inline-table;
        text-align: center;
        margin: 25px;
        -webkit-box-align: center;
    }

.button2:hover {
        background: rgb(199, 128, 107);
}

.flexBox {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  
#llave {
    padding: 10px; 
    box-shadow: 1px 5px 15px 2px rgb(119, 113, 113);
    text-align: left; 
    margin-top: -.5em;
    display: block;
    font-family: "Helvetica";
    font-size: 1rem;
    height: 50px;
    width: 40%;
    top: 100px;      
    left: 100px;  
}




    